.tags-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  column-gap: 4px;
  row-gap: 4px;
}

.tags-wrapper .vtag {
  background: #05204a;
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
  box-sizing: border-box;
  padding: 4px 8px;
  border-radius: 0.25rem;
}

