.vtable-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  background: white;
}

.vtable-container .table-cell {
  padding: 0.5rem 0.5rem;
  overflow: hidden;
  box-sizing: border-box;
}

.vtable-container .vtable-column-container {
  display: grid;
}

.vtable-container .vtable-row-container {
  display: grid;
  grid-template-rows: auto;
  align-items: center;
}

.vtable-container .column {
  font-weight: 600;
}

.row-cell-img {
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}
