.vtable-container {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 0.25rem;
  background: white;
  padding: 0 0.5rem;
  box-sizing: border-box;
}

.vtable-container .table-cell {
  padding: 0.5rem 0.5rem;
  box-sizing: border-box;
}

.vtable-container .vtable-column-container {
  display: grid;
}

.vtable-container .vtable-row-container {
  display: grid;
  align-items: center;
}

.vtable-container .column {
  font-weight: 600;
}

.row-cell-img {
  object-fit: cover;
  width: 100%;
  border-radius: 0.5rem;
  max-height: 100%;
}

.vtable-column-container,
.vtable-row-container:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.table-cell {
  /* outline: 1px solid lightgray; */

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
