.App {
  height: 100vh;
  width: 100vw;
  background: #fff;
  margin: 0;
  padding: 0;

  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr;

  box-sizing: border-box;
}

.app-title {
  margin: 0;
}

.app-sidebar {
  min-height: 100%;
  width: 200px;
}

.main-container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  grid-row: 1 / 3;
  padding: 1rem;
  grid-column: 2;
  background: #eee;
  overflow: auto;
}
